*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
:root{
    --dark: #0F0B14;
    --soft_violet: #260D40;
    --white_violet: #655575;
    --orange: #ED7E00;
    --soft-orange: #F4B266;
    --white: #F1F1F1;
    --gray: #5c5c5c;
}
body{
    background-color: var(--dark);
}
body::-webkit-scrollbar{
    width: 7px;
}
body::-webkit-scrollbar-thumb{
    background-color: var(--white_violet);
    border-radius: 5px;
}
#hamburger {
    position: fixed;
    z-index: 100;
    right: 25px;
    top: 35px;
    border-radius: 50%;
}
#hamburger button{
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
    width: 70px;
    height: 70px;
    background-color: var(--white);
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
}
#hamburger button span{
    border-radius: 5px;
    background-color: var(--dark);
    display: block;
    width: 60%;
    height: 3px;
    margin: 5px auto;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#hamburger button.open .top_line{
    animation-name: top-line-animation;
}
#hamburger button.open .middle_line{
    animation-name: middle-line-animation;
}
#hamburger button.open .bottom_line{
    animation-name: bottom-line-animation;
}
#hamburger button .top_line{
    animation-name: top-line-animation-close;
}
#hamburger button .middle_line{
    animation-name: middle-line-animation-close;
}
#hamburger button .bottom_line{
    animation-name: bottom-line-animation-close;
}
#menu{
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: var(--white);
    padding: 20px 30px 20px 80px;
    border-radius: 10px;
    left: 100%;
    top: 115%;
    transform: translateX(-100%);
    transition: .5s;
    box-shadow: -2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}
#menu li{
    color: var(--gray);
    list-style: none;
    font-size: 1.8rem;
    text-align: end;
    margin-bottom: 12px;
    font-weight: 500;
}
#menu ul a{
    text-decoration: none;
}
.intersection{
    border: solid 2px var(--orange);
    border-radius: 6px;
}
#menu-2{
    display: none;
}
.lightbox{
    position: fixed;
    display: none;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100vh;
    transform-origin: center;
    transform: scale(0);
    transition: .5s;
    z-index: 600;
}
.lightbox-container::-webkit-scrollbar{
    width: 7px;
    background-color: #F1F1F1;
}
.lightbox-container::-webkit-scrollbar-thumb{
    background-color: var(--orange);
    border-radius: 5px;
}
.lightbox_display{
    display: flex;
    opacity: 1;
    transform: scale(1);
}
.lightbox-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    position: relative;
    width: 50%;
    height: 90%;
    overflow-y: scroll;
    align-items: center;
    margin: auto;
}
.lightbox-container-img{
    width: 120%;
    border-radius: 16px;
}
.close_lightbox{
    position: absolute;
    top: 60px;
    right: 30px;
    width: 60px;
    cursor: pointer;
    transition: .2s;
    z-index: 100000;
}
.close_lightbox:hover{
    transform: scale(1.2);
}
.home{
    display: flex;
    position: relative;
    height: 100vh;
    background-color: var(--dark);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.degraded_radial{
    position: absolute;
    width: 300px;
    height: 300px;
    top: 50%;
    transform: translateY(-50%);
    background: radial-gradient(50% 50% at 50% 50%, rgba(57, 86, 157, 0.25) 0%, rgba(57, 86, 157, 0) 100%);
    opacity: 70%;
}
.social-media{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: flex-end;
}
.social-media img{
    margin: 0 14px;
    transition: .2s;
    opacity: 90%;
}
.social-media img:hover{
    transform: scale(1.2);
}
.home_item{
    color: var(--white);
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 2.0rem;
}
.home_item--orange{
    color: var(--orange);
}
.logo{
    margin: 10px 0 10px;
}
.home_animation--container{
    height: 50px;
    overflow: hidden;
}
.animation--container_slider{
    animation: slide_words 8s ease-in-out infinite alternate;
}
.word_animation{
    height: 50px;
    color: var(--white);
    font-size: 2.0rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-me{
    background-color: var(--dark);
    padding: 10px 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 120px;
}
.about-me_container{
    margin-bottom: 40px;
}
.about-me h2, .h3_portafolio{
    color: var(--orange);
    font-size: 4.0rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.about-me p{
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 300;
    text-align: justify;
    margin-bottom: 20px;
}
.about-me .cv{
    background-color: var(--orange);
    border-radius: 10px;
    padding: 10px 20px;
    color: var(--white);
    font-weight: 400;
    font-size: 1.8rem;
    border: none;
    outline: none;
    cursor: pointer;
}
.about-me .isaac-photo{
    width: 90%;
    border-radius: 12px;
}
.skills{
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    max-width: 520px;
}
.skills h3{
    color: var(--orange);
    font-size: 3.0rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
}
.skills_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 430px;
}
.skills_container img{
    max-width: 80px;
    margin: 15px;
}
.portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px 20px;
    background-color: var(--white);
    border-top-right-radius: 120px;
    position: relative;
}
.relleno{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    transform: translateY(-100%);
    background-color: var(--white);
    z-index: 10;
    border-top-right-radius: 150px;
}
.relleno2{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    transform: translateY(-100%);
    background-color: var(--dark);
    z-index: 11;
    border-bottom-left-radius: 200px;
}
.graphic-design{
    padding: 40px 0px 0px;
}
.other_white{
    background-color: rgb(247, 247, 247);
    width: 100%;
}
.graphic-design p{
    font-size: 2.0rem;
    font-weight: 500;
    color: var(--gray);
    margin-bottom: 20px;
    text-align: center;
}
.graphic-design p span{
    color: rgb(63, 63, 63);
    font-weight: 700;
}
.portfolio-slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    padding: 0 30px;
}
.portfolio-slider img{
    width: 300px;
    margin-bottom: 20px;
    border-radius: 6px;
    /* box-shadow: -4px 4px 6px 0px #F1F1F1; */
    cursor: pointer;
}
.marggin_add{
    margin: 0px 30px;
}
.contacto{
    padding: 40px 20px 20px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-descript{
    color: var(--gray);
    font-size: 2rem;
    width: 90%;
    text-align: center;
    margin-bottom: 20px;
}
.contact-text h4{
    color: #3b3b3b;
    font-size: 2rem;
    margin-bottom: 8px;
}
.form-place{
    font-size: 1.8rem;
    color: var(--gray);
    margin-bottom: 10px;
}
.form{
    width: 85%;
    max-width: 710px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 40px;
    background-color: rgb(223, 223, 223);
    margin-top: 16px;
}
.form p{
    color: gray;
    font-size: 1.6rem;
    margin-bottom: 8px;
    text-align: left;
    width: 100%;
}
.form input{
    outline: none;
    border: solid 2px #c4c4c4;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    margin-bottom: 18px;
    padding: 4px 10px;
}
.form .mensaje{
    height: 150px;
}
.form button{
    outline: none;
    cursor: pointer;
    border: none;
    background-color: orange;
    color: var(--white);
    width: 90%;
    padding: 14px 20px;
    font-size: 2rem;
    font-weight: 400;
    border-radius: 12px;
}
footer{
    width: 100%;
    background-color: var(--dark);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p{
    color: var(--white);
    font-weight: 300;
    font-size: 2rem;
}
@keyframes top-line-animation{
    50%, 100%{
        margin: 0 auto;
        transform: translateY(2px) rotate(-45deg);
    }
}
@keyframes bottom-line-animation{
    50%, 100%{
        margin: 0 auto;
        transform: translateY(-2px) rotate(45deg);
    }
}
@keyframes middle-line-animation{
    50%, 100%{
        margin: 0 auto;
        opacity: 0;
        width: 0;
    }
}
@keyframes top-line-animation-close{
    0%{
        margin: 0 auto;
        transform: translateY(2px) rotate(-45deg);
    }
    50%, 100%{
        margin: 5px auto;
        transform: translateY(0px) rotate(0deg);
    }
}
@keyframes bottom-line-animation-close{
    0%{
        margin: 0 auto;
        transform: translateY(-2px) rotate(45deg);
    }
    50%, 100%{
        margin: 5px auto;
        transform: translateY(0px) rotate(0deg);
    }
}
@keyframes middle-line-animation-close{
    0%{
        margin: 0 auto;
        opacity: 0;
        width: 0;
    }
    50%, 100%{
        margin: 5px auto;
        opacity: 100%;
        width: 60%;
    }
}
@keyframes slide_words{
    0%{
        transform: translateY(0px);
    }
    10%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(-60px);
    }
    25%{
        transform: translateY(-50px);
    }
    35%{
        transform: translateY(-50px);
    }
    45%{
        transform: translateY(-110px);
    }
    50%{
        transform: translateY(-100px);
    }
    60%{
        transform: translateY(-100px);
    }
    70%{
        transform: translateY(-160px);
    }
    75%{
        transform: translateY(-150px);
    }
    80%{
        transform: translateY(-150px);
    }
    95%{
        transform: translateY(-210px);
    }
    100%{
        transform: translateY(-200px);
    }
}
@media screen and (max-width: 768px){
    .lightbox-container-img{
        width: 100%;
    }
    .lightbox-container::-webkit-scrollbar{
        display: none;
    }
    .close_lightbox{
        right: 50%;
        transform: translateX(30px);
    }
    .lightbox-container{
        padding-top: 0;
        padding-bottom: 0px;
        margin-bottom: 0;
        width: 85%;
    }
    .lightbox{
        padding-top: 60px;
    }
}
@media screen and (min-width: 769px) {
    .lightbox-container{
        padding-bottom: 0px;
        margin-bottom: 0;
        width: 85%;
    }
    .close_lightbox{
        right: 50%;
        transform: translateX(30px);
    }
    .lightbox-container-img{
        width: 80%;
    }
    .lightbox-container::-webkit-scrollbar{
        display: none;
    }
    .lightbox{
        padding-top: 60px;
    }
    .degraded_radial{
        width: 500px;
        height: 500px;
    }
    .home_item{
        font-size: 2.6rem;
    }
    .logo{
        width: 30%;
    }
    .word_animation{
        font-size: 2.6rem;
    }
    #hamburger{
        display: none;
    }
    #menu-2{
        display: block;
        position: fixed;
        z-index: 400;
        width: 100%;
        padding: 25px 20px;
        background-color: var(--dark);
    }
    #menu-2 ul{
        display: flex;
        justify-content: space-around;
        width: 60%;
        max-width: 545px;
        margin: auto;
    }
    #menu-2 li{
        list-style: none;
        font-size: 1.7rem;
        padding: 5px 12px;
        cursor: pointer;
        border-radius: 10px;
        display: flex;
        align-items: center;
    }
    #menu-2 li:hover{
        background-color: var(--white);
    }
    #menu-2 li:hover a{
        color: rgba(19, 19, 19, 0.507);
        font-weight: 500;
    }
    #menu-2 a{
        text-decoration: none;
        color: var(--white);
    }
    .about-me_container{
        border: solid 2px var(--white);
        border-radius: 10px;
        padding: 40px;
        position: relative;
        width: 80%;
        max-width: 700px;
    }
    .cv{
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .about-me .isaac-photo{
        width: 65%;
    }
    .graphic-design p{
        font-size: 2.2rem;
        margin-bottom: 26px;
    }
    .portfolio-slider{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        transition: .3s;
    }
    .portfolio-slider:hover img{
        opacity: .5;
    }
    .portfolio-slider img{
        margin-right: 20px;
        max-width: 350px;
        transition: .4s;
    }
    .portfolio-slider img:hover{
        transform-origin: center;
        transform: scale(1.2);
        z-index: 300;
        opacity: 1;
    }
}
@media screen and (min-width: 1200px){
    .degraded_radial{
        width: 500px;
        height: 500px;
        opacity: 20%;
    }
    .home_item{
        font-size: 2.8rem;
    }
    .logo{
        width: 20%;
    }
    .word_animation{
        font-size: 2.6rem;
    }
    .about-me{
        display: grid;
        grid-template: 1fr 1fr/ 2fr 1fr;
        align-items: center;
        justify-items: center;
        grid-gap: 20px;
        padding: 80px 100px 0;
        max-width: 1440px;
        margin: auto;
    }
    .about-me_container{
        margin-bottom: 0;
        padding: 40px;
        width: 100%;
    }
    .skills{
        grid-column: 1/3;
        grid-row: 2/3;
        flex-direction: row-reverse;
        max-width: 100%;
    }
    .skills div{
        margin: 0 30px;
    }
    .skill_parent h3, .skill_parent p{
        text-align: right;
        padding-left: 100px;
    }
    .skill_parent p{
        font-size: 1.7rem;
    }
    .skills_container{
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
        width: 300px;
    }
    .about-me_container p{
        line-height: 2.4rem;
    }
    .about-me .isaac-photo{
        width: 100%;
        max-width: 350px;
    }
    .relleno{
        width: 300px;
        height: 300px;
        border-top-right-radius: 300px;
    }
    .relleno2{
        width: 300px;
        height: 300px;
        border-bottom-left-radius: 300px;
    }
    .portfolio{
        border-top-right-radius: 300px;
        padding-top: 100px;
    }
    .contacto{
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        padding: 50px 250px;
    }
    .contact-text{
        align-items: flex-start;
    }
    .contact-text h3, .contact-text h4, .contact-text .form-place{
        text-align: left;
        width: 100%;
    }
    .form-descript, .contact-text h4, .contact-text .form-place{
        width: 80%;
        text-align: left;
    }
    .lightbox-container-img{
        width: 90%;
    }
}